# venv
.venv
venv

# build-specific
*.egg-info/

# OS X specific
.DS_Store

# Pycharm
__pycache__
.idea

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Secrets
baserow_token.txt

# project data
data

# specific legacy .py files
preprocessing_legacy.py
